@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');


.myApp{
   font-family: 'Urbanist', sans-serif;
}

.cards{
    transition: ease-out .1s;
    font-family: 'Urbanist', sans-serif;
}

.cards:hover{
transform: scale(.9); 
transition: ease-in .1s;
}